:root {
  --primary-text-color: #212121;
  --additional-text-color: #757575;
  --accent-color: #2196f3;
  --logo-text-color: #000000;
  --additional-accent-color: #ffffff;
  --mailto-tel-text-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #e5e5e5;
  --additional-background-color: #f5f4fa;
  --futer-background-color: #2f303a;
  --border-portfolio: #eeeeee;
  --border-line-heder: #ececec;
  --icon-color: #afb1b8;
  --icon-color-hover: #ffffff;
  --additional-icon-color-hover: #2196f3;
  --additional-icon-color-footer: #44454e;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* ---------------BODY----------------- */
body {
  font-family: 'Roboto', 'Sans Serif';
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  border-radius: 4px;
}

.section {
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: 'Raleway', 'Sans Serif';
  text-align: center;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 700;
  display: inline-block;
}

.logo__first-word {
  color: var(--accent-color);
}

.logo__second-word {
  color: var(--logo-text-color);
}

.logo__third-word {
  color: var(--additional-accent-color);
}

@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
  }
}

.nav-list {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767.98px) {
  .nav-list {
    display: none;
  }
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__item:nth-child(1) {
  margin-left: 88px;
}

@media (min-width: 1200px) {
  .nav-list__item:nth-child(1) {
    margin-left: 93px;
  }
}

.nav-list__link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: inherit;
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__link--active {
  color: var(--accent-color);
}

.nav-list__link--current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: -33px;
  left: 0;
}

.contacts {
  font-size: 12px;
  line-height: 1.16;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-left: auto;
}

@media (max-width: 767.98px) {
  .contacts {
    display: none;
  }
}

@media (min-width: 1200px) {
  .contacts {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.contacts__icon {
  margin-right: 10px;
}

.contacts__item {
  color: var(--additional-text-color);
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  justify-content: start;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: inherit;
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  fill: currentColor;
}

.contacts__icon:hover, .contacts__icon:focus {
  fill: currentColor;
}

.primary-btn {
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  color: var(--additional-accent-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.primary-btn--with-icon {
  margin-top: 20px;
}

.primary-btn--with-icon::after {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/svg-icon-send.svg);
  background-size: contain;
}

/* ---------------MODAL WINDOW--------------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: rotate(180deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  min-height: 609px;
  transform: translate(-50%, -50%);
  background: var(--additional-accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--additional-accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: var(--logo-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover {
  color: var(--accent-color);
}

.modal__icon-close {
  fill: currentColor;
}

.modal__title {
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

@media (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-field {
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-field:last-of-type {
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .modal-field:last-of-type {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 4px;
  color: var(--additional-text-color);
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
}

.modal-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-icon-input {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-input:focus + .modal-icon-input {
  fill: var(--accent-color);
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  display: block;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.modal-text:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

placeholder {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check-text {
  font-size: 11px;
  line-height: 1.17;
  font-weight: 400;
  color: var(--additional-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-text span {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.modal-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

@media (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
  }
}

.check-link {
  color: var(--accent-color);
  margin-left: 2px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 206px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: var(--icon-color-hover);
}

.social__icon {
  fill: currentColor;
}

.social__link--dark {
  background-color: var(--additional-icon-color-footer);
  color: var(--additional-accent-color);
}

.join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join__text {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--additional-accent-color);
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .join {
    display: block;
    padding-top: 12px;
    padding-bottom: 40px;
  }
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe__form {
  display: block;
  text-align: center;
  max-width: 450px;
}

@media (min-width: 1200px) {
  .subscribe__form {
    text-align: left;
  }
}

.subscribe__field {
  max-width: 450px;
}

@media (min-width: 480px) {
  .subscribe__field {
    min-width: 450px;
  }
}

@media (min-width: 1200px) {
  .subscribe__field {
    min-width: 358px;
  }
}

.subscribe__label {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  display: block;
  margin-bottom: 20px;
  color: var(--additional-accent-color);
  text-transform: uppercase;
}

.subscribe__input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px;
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--additional-accent-color);
  background-color: var(--futer-background-color);
}

.subscribe__input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

@media (min-width: 1200px) {
  .subscribe {
    display: block;
  }
  .subscribe__form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .subscribe__field {
    max-width: 358px;
    padding-top: 12px;
    margin-right: 12px;
  }
}

placeholder {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* ------------------HEDER------------------ */
.header {
  width: 100%;
  position: relative;
  background-color: var(--additional-accent-color);
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-line-heder);
}

@media (min-width: 480px) {
  .header {
    width: 480px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (min-width: 768px) {
  .header {
    width: 768px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media (min-width: 1200px) {
  .header {
    width: 1200px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-open-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  margin-left: auto;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
}

@media (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  z-index: 4;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: linear;
}

@media (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: rotate(180deg);
}

.menu-close-btn {
  position: absolute;
  display: block;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover {
  color: var(--accent-color);
}

.mob-menu-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mob-menu-bottom {
  margin-top: auto;
}

.mob-menu-nav-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-nav-list__link {
  font-size: 40px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: inherit;
}

.mob-menu-nav-list__link:hover, .mob-menu-nav-list__link:focus {
  color: var(--accent-color);
}

.mob-menu-nav-list__link--active {
  color: var(--accent-color);
}

.mob-menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-contacts__link-tel {
  font-size: 34px;
  line-height: 1.18;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-menu-contacts__link-post {
  font-size: 24px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--additional-text-color);
}

.mob-menu-social {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mob-menu-social__item:not(:last-child) {
  margin-right: 10px;
}

.mob-menu-social__link {
  font-size: 18px;
  line-height: 1.22;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-menu-social__link::after {
  content: '';
  width: 2px;
  height: 22px;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

/* ---------------HERO----------------- */
.hero {
  background-color: var(--futer-background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero/img-hero-mob-1x-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 480px;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero/img-hero-mob-2x-min.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero/img-hero-tabl-1x-min.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero/img-hero-tabl-2x-min.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero/img-hero-desk-1x-min.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero/img-hero-desk-2x-min.jpg);
  }
}

.hero__title {
  color: var(--additional-accent-color);
  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;
  text-align: center;
}

@media (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .hero {
    min-height: 600px;
    max-width: 1600px;
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    max-width: 696px;
  }
}

/* ---------------SECTION FEATURES----------------- */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

@media (min-width: 768px) {
  .features-list {
    margin: -15px;
  }
}

.features-list__item {
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .features-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .features-list__item {
    margin: 15px;
  }
}

.features-list__icon {
  background-color: var(--additional-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
}

.features-list__title {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .features-list__title {
    text-align: center;
  }
}

.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  color: var(--additional-text-color);
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .features-list__item {
    width: calc(100% / 2 - 30px);
    max-height: 251px;
  }
}

@media (min-width: 1200px) {
  .features-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .features-list__item {
    width: 270px;
    max-height: 251px;
  }
}

/* ---------------SECTION DIRECTIONS----------------- */
@media (max-width: 1199.98px) {
  .directions {
    display: none;
  }
}

@media (min-width: 1200px) {
  .directions {
    padding-top: 47px;
    padding-bottom: 94px;
  }
  .directions__title {
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.17;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
  }
  .directions__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
  }
  .directions__item {
    position: relative;
  }
  .directions__item:not(:last-child) {
    margin-right: 30px;
  }
  .directions__text {
    position: absolute;
    height: 70px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(47, 48, 58, 0.8);
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--additional-accent-color);
  }
}

/* ---------------SECTION TEAM----------------- */
.team {
  background-color: var(--additional-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.team__title {
  color: var(--primary-text-color);
  font-size: 28px;
  line-height: 1.17;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team__title {
    font-size: 36px;
    line-height: 1.17;
    font-weight: 700;
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) {
  .team-list {
    margin: -15px;
  }
}

.team-list__card {
  background-color: var(--additional-accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  display: block;
}

@media screen and (max-width: 767px) {
  .team-list__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .team-list__card {
    margin: 15px;
  }
}

.team-list__description {
  padding-top: 30px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-list__name {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  margin-bottom: 10px;
}

.team-list__position {
  font-size: 16px;
  line-height: 1.19;
  font-weight: 400;
  color: var(--additional-text-color);
  margin-bottom: 16px;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .team-list {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }
  .team-list__card {
    margin: 15px;
    width: calc(100% / 2 - 30px);
    max-height: 536px;
  }
}

@media (min-width: 1200px) {
  .team-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -15px;
  }
  .team-list__card {
    background-color: var(--additional-accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: calc(100% / 4 - 30px);
    margin: 15px;
  }
  .team-list__description {
    padding-bottom: 30px;
  }
}

/* ---------------CLIENT----------------- */
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  font-size: 28px;
  line-height: 1.17;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.17;
    font-weight: 700;
    margin-bottom: 50px;
  }
}

.clients-list {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clients-list__item {
  margin: 15px;
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--additional-icon-color-hover);
  color: var(--accent-color);
}

.clients-list__ikon {
  fill: currentColor;
}

@media (min-width: 480px) {
  .clients-list__item {
    width: calc(100% / 2 - 30px);
  }
}

@media (min-width: 768px) {
  .clients-list__item {
    width: calc(100% / 3 - 30px);
  }
}

@media (min-width: 1200px) {
  .clients-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .clients-list__item {
    width: calc(100% / 6 - 30px);
  }
  .clients-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* ---------------FOOTER----------------- */
.footer {
  background-color: var(--futer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container-top {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .footer__container-top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

@media (min-width: 1200px) {
  .footer__container-top {
    margin-right: 93px;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .footer__container.container {
    display: flex;
    align-items: start;
    justify-content: start;
  }
}

.footer__wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__wrapp {
    margin-right: 165px;
  }
}

@media (min-width: 1200px) {
  .footer__wrapp {
    align-items: start;
    margin-right: 70px;
  }
}

.footer-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: normal;
  margin-bottom: 60px;
}

@media (max-width: 1199.98px) {
  .footer-address__list {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .footer-address__list {
    text-align: start;
  }
}

.footer-address__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-address__post {
  color: var(--additional-accent-color);
}

.footer-address__link {
  color: var(--mailto-tel-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address__link:hover, .footer-address__link:focus {
  color: var(--accent-color);
}

@media (min-width: 768px) {
  .footer-address {
    margin-bottom: 0;
    text-align: center;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
  }
  .footer-address__item:not(:last-child) {
    margin-bottom: 8px;
  }
  .footer-address__post {
    color: var(--additional-accent-color);
  }
  .footer-address__link {
    color: var(--mailto-tel-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-address__link:hover, .footer-address__link:focus {
    color: var(--accent-color);
  }
}

@media (min-width: 1200px) {
  .footer-address {
    flex-shrink: 0;
    margin-bottom: 0;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
  }
  .footer-address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-address__post {
  color: var(--additional-accent-color);
}

.footer-address__link {
  color: var(--mailto-tel-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address__link:hover, .footer-address__link:focus {
  color: var(--accent-color);
}

.logo__footer {
  margin-bottom: 20px;
}

/* ---------------PAGE PORTFOLIO----------------- */
/* ---------------SECTION PORTFOLIO----------------- */
.portfolio.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .portfolio.section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  margin-bottom: 40px;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__button {
  display: block;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  text-align: center;
  background-color: var(--additional-background-color);
  color: var(--primary-text-color);
  padding: 6px 22px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.02, 1), color 250ms cubic-bezier(0.4, 0, 0.02, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.02, 1);
}

.filters__button:hover, .filters__button:focus {
  background-color: var(--accent-color);
  color: var(--additional-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .filters__item:nth-child(-1n + 3) {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .filters {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .filters {
    margin-bottom: 50px;
  }
}

/* ---------------PROJECTS----------------- */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -15px;
}

.projects__wrap {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}

.projects__top-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  font-weight: 400;
  color: var(--additional-accent-color);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.02, 1);
  overflow: auto;
}

.projects__item {
  margin: 15px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.02, 1), border-bottom 250ms cubic-bezier(0.4, 0, 0.02, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.02, 1);
}

.projects__item:hover, .projects__item:focus {
  background-color: var(--additional-accent-color);
  border-bottom: 1px solid var(--border-portfolio);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__description {
  padding: 20px 24px;
  border: 1px solid var(--border-portfolio);
  border-top: none;
}

.projects__name {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.projects__type {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 400;
  color: var(--additional-text-color);
}

.projects__item:hover .projects__top-text,
.projects__item:focus .projects__top-text {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */