// utils
@import './utils/vars';
@import './utils/hidden';
@import './utils/placeholders';
@import './utils/mixin';

// base
@import './base/common';
@import './base/reset';

// components
@import './components/section';
@import './components/container';
@import './components/logo';
@import './components/nav';
@import './components/contacts';
@import './components/primary-btn';
@import './components/modal';
@import './components/social';
@import './components/address';
@import './components/join';
@import './components/subscribe';

// layout
@import './layout/header';
@import './layout/hero';
@import './layout/features';
@import './layout/directions';
@import './layout/team';
@import './layout/clients';
@import './layout/footer';
@import './layout/portfolio';
@import './layout/filters';
@import './layout/projects';
