/* ---------------CLIENT----------------- */
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  &__title {
    @include font(28px, 1.17, $fw: 700);
    text-align: center;
    margin-bottom: 30px;
    @include mq(desktop) {
      @include font(36px, 1.17, $fw: 700);
    }
  }
}
.clients-list {
  width: 100%;
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__item {
    margin: 15px;
  }
  &__link {
    @include flex(center);
    width: 100%;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    color: var(--icon-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border-color: var(--additional-icon-color-hover);
      color: var(--accent-color);
    }
  }
  &__ikon {
    fill: currentColor;
  }
  @include mq(mobile) {
    &__item {
      width: calc(100% / 2 - 30px);
    }
  }
  @include mq(tablet) {
    &__item {
      width: calc(100% / 3 - 30px);
    }
  }
  @include mq(desktop) {
    @include flex(between);
    flex-wrap: nowrap;
    &__item {
      width: calc(100% / 6 - 30px);
    }
    &__link {
      @include flex(center);
    }
  }
}
