/* ---------------CLIENT----------------- */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  &__title {
    @include font(36px, 1.17, $fw: 700);
    text-align: center;
    margin-bottom: 50px;
  }
}

.clients-list {
  width: 1170px;
  @extend %between-list;
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__link {
    @extend %center-list;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    color: var(--icon-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border-color: var(--additional-icon-color-hover);
      color: var(--accent-color);
    }
  }
  &__ikon {
    fill: currentColor;
  }
}
