/* ---------------SECTION DIRECTIONS----------------- */
.directions {
  padding-top: 47px;
  padding-bottom: 94px;
  &__title {
    color: var(--primary-text-color);
    @include font(36px, 1.17, $fw: 700);
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
  }
  &__list {
    @extend %between-list;
    width: 1170px;
  }
  &__item {
    position: relative;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__text {
    position: absolute;
    height: 70px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(47, 48, 58, 0.8);
    @include font(14px, 1.14, $fw: 700);
    text-align: center;
    text-transform: uppercase;
    @extend %center-list;
    color: var(--additional-accent-color);
  }
}
