/* ---------------FOOTER----------------- */
.footer {
  background-color: var(--futer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  height: 252px;
  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1170px;
  }
}
.logo__footer {
  margin-bottom: 20px;
}
