/* ------------------HEDER------------------ */
.header {
  background-color: var(--additional-accent-color);
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-line-heder);

  @include mq(mobile) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @include mq(tablet) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @include mq(desktop) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  &__container {
    @extend %between-list;
  }
}
