/* ------------------HEDER------------------ */
.header {
  width: 100%;
  position: relative;

  background-color: var(--additional-accent-color);
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-line-heder);

  @include mq(mobile) {
    width: 480px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @include mq(tablet) {
    width: 768px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @include mq(desktop) {
    width: 1200px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  &__container {
    @include flex(between);
  }
}
.menu-open-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  margin-left: auto;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  @include mq(tablet) {
    display: none;
  }
}
// .header-btn {
//   display: inline-flex;
//   margin: 0;
//   padding: 0;
//   border: none;
//   background-color: transparent;
//   &__close-mob {
//     display: none;
//   }
//   &.is-open &__close-mob {
//     display: block;
//   }
//   &.is-open &__menu-mob {
//     display: none;
//   }
// }
.mob-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  z-index: 4;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 0;
  @include mq(tablet) {
    display: none;
  }
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: rotate(180deg);
  }
}

.menu-close-btn {
  position: absolute;
  display: block;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  // margin-left: auto;
  // margin-top: 10px;
  // margin-right: 15px;
  border: none;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--accent-color);
  }
}
.mob-menu-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mob-menu-bottom {
  margin-top: auto;
}
.mob-menu-nav-list {
  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  &__link {
    @include font(40px, 1.17, $fw: 500);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: inherit;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
.mob-menu-nav-list__link--active {
  color: var(--accent-color);
}
.mob-menu-contacts {
  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  &__link-tel {
    @include font(34px, 1.18, $fw: 500);
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  &__link-post {
    @include font(24px, 1.17, $fw: 500);
    letter-spacing: 0.02em;
    color: var(--additional-text-color);
  }
}
.mob-menu-social {
  margin-top: 64px;
  @include flex(between);
  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__link {
    @include font(18px, 1.22, $fw: 500);
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}
