/* ---------------PROJECTS----------------- */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -15px;

  &__wrap {
    position: relative;
    overflow: hidden;
  }
  &__top-text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    @include font(18px, 1.56);
    color: var(--additional-accent-color);
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.02, 1);
    overflow: auto;
  }
  &__item {
    width: 370px;
    margin: 15px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.02, 1);
    transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.02, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.02, 1);
    &:hover,
    &:focus {
      background-color: var(--additional-accent-color);
      border-bottom: 1px solid var(--border-portfolio);
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  &__description {
    padding: 20px 24px;
    border: 1px solid var(--border-portfolio);
    border-top: none;
  }
  &__name {
    @include font(18px, 2, $fw: 700);
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
  }
  &__type {
    @include font(16px, 1.87);
    color: var(--additional-text-color);
  }
}
.projects__item:hover .projects__top-text,
.projects__item:focus .projects__top-text {
  transform: translateY(0);
}
