/* ---------------SECTION TEAM----------------- */
.team {
  background-color: var(--additional-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  &__title {
    color: var(--primary-text-color);
    @include font(28px, 1.17, $fw: 700);
    text-align: center;
    margin-bottom: 30px;
  }
  @include mq(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
    &__title {
      @include font(36px, 1.17, $fw: 700);
      margin-bottom: 50px;
    }
  }
}
.team-list {
  max-width: 450px;
  margin: -30px;
  &__card {
    background-color: var(--additional-accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    max-width: 450px;
    margin: 30px;
    text-align: center;
    display: block;
  }
  &__description {
    padding-top: 30px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__name {
    color: var(--primary-text-color);
    @include font(16px, 1.19, $fw: 500);
    margin-bottom: 10px;
  }
  &__position {
    @include font(16px, 1.19);
    color: var(--additional-text-color);
    margin-bottom: 16px;
  }
  @include mq(tablet-only) {
    max-width: 768px;
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
    &__card {
      margin: 15px;
      width: calc(100% / 2 - 30px);
      max-height: 536px;
    }
  }
  @include mq(desktop) {
    @include flex(between);
    width: 1170px;
    margin: -15px;
    &__card {
      background-color: var(--additional-accent-color);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      width: 270px;
      margin: 15px;
    }
    // &__img {
    //   width: 270px;
    //   height: 260px;
    // }
    &__description {
      padding-bottom: 30px;
    }
  }
}
