/* ---------------SECTION TEAM----------------- */
.team {
  background-color: var(--additional-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
  &__title {
    color: var(--primary-text-color);
    @include font(36px, 1.17, $fw: 700);
    text-align: center;
    margin-bottom: 50px;
  }
}
.team-list {
  @extend %between-list;
  width: 1170px;
  &__card {
    background-color: var(--additional-accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__description {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 32px;
    padding-left: 32px;
  }
  &__name {
    color: var(--primary-text-color);
    @include font(16px, 1.19, $fw: 500);
    text-align: center;
    margin-bottom: 10px;
  }
  &__position {
    @include font(16px, 1.19);
    color: var(--additional-text-color);
    text-align: center;
    display: block;
    margin-bottom: 16px;
  }
}
