.address {
  margin-right: 70px;
  width: 231px;
  flex-shrink: 0;
  font-style: normal;
  @include font(14px, 1.71);
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__post {
    color: var(--additional-accent-color);
  }
  &__link {
    color: var(--mailto-tel-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
