.contacts {
  @include font(12px, 1.16, $fw: 500);
  letter-spacing: 0.02em;
  margin-left: auto;

  @include mq(mobile-only) {
    display: none;
  }

  @include mq(desktop) {
    @include font(14px, 1.14, $fw: 500);
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // @include flex(between);
    @include flex(between);

    &__item:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__icon {
    margin-right: 10px;
  }
  &__item {
    color: var(--additional-text-color);
  }

  &__link {
    @include flex(between);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: inherit;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  &__icon {
    fill: currentColor;
    &:hover,
    &:focus {
      fill: currentColor;
    }
  }
}
