.join {
  padding-top: 12px;
  padding-bottom: 40px;
  margin-right: 93px;
  &__text {
    @include font(14px, 1.14, $fw: 700);
    text-transform: uppercase;
    color: var(--additional-accent-color);
    margin-bottom: 20px;
  }
}
