.logo {
  font-family: 'Raleway', 'Sans Serif';
  @include font(24px, 1.17, $fw: 700);
  display: block;
  &__first-word {
    color: var(--accent-color);
  }
  &__second-word {
    color: var(--logo-text-color);
  }
  &__third-word {
    color: var(--additional-accent-color);
  }
  @include mq(desktop) {
    @include font(26px, 1.2, $fw: 700);
  }
}
