.nav-list {
  @extend %between-list;
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    position: relative;
    @include font(14px, 1.14, $fw: 500);
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: inherit;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
.nav-list__link--active {
  color: var(--accent-color);
}
.nav-list__link--current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: -34px;
  left: 0;
}
