.subscribe {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__form {
    display: block;
    text-align: center;
  }
  &__field {
    max-width: 450px;
  }
  &__label {
    @include font(14px, 1.14, $fw: 700);
    display: block;
    margin-bottom: 20px;
    color: var(--additional-accent-color);
    text-transform: uppercase;
  }
  &__input {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px;
    outline: none;
    @include font(16px, 1.25);
    letter-spacing: 0.01em;
    color: var(--additional-accent-color);
    background-color: var(--futer-background-color);
    &:focus {
      border: 1px solid var(--accent-color);
      outline: none;
    }
  }
  @include mq(desktop) {
    display: block;
    &__form {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    &__field {
      max-width: 358px;
      padding-top: 12px;
      margin-right: 12px;
    }
  }
}

placeholder {
  @include font(16px, 1.25);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
