:root {
  --primary-text-color: #212121;
  --additional-text-color: #757575;
  --accent-color: #2196f3;
  --logo-text-color: #000000;
  --additional-accent-color: #ffffff;
  --mailto-tel-text-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #e5e5e5;
  --additional-background-color: #f5f4fa;
  --futer-background-color: #2f303a;
  --border-portfolio: #eeeeee;
  --border-line-heder: #ececec;
  --icon-color: #afb1b8;
  --icon-color-hover: #ffffff;
  --additional-icon-color-hover: #2196f3;
  --additional-icon-color-footer: #44454e;
}
